* {
	padding: 0px;
	margin: 0 auto;
}

a{
    text-decoration: none;
    color: #FF0000;
    font-size: 20px;
}

header{
    position: sticky;
    top: 1px;
    background-color: #3B4CCA;
}

header div{
    display: flex;
    
}

header img {
	height: 100px;
	width: auto;
}

.navBar ul {
	list-style: none;
	display: flex;
	justify-content: center;
    align-items: center;
	gap: 20px;
}
